@model IEnumerable<Web411031246.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>学生清单</h2>

<p>
    @Html.ActionLink("新增資料", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)

        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Number)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsActive)

    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ld }) |
        @Html.ActionLink("Details", "Details", new { id = item.ld }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ld })
    </td>
</tr>
}

</table>
